* {
    font-family: Helvetica, sans-serif;
    color: rgb(209, 209, 209);
    transition: color 1.5s ease;
    transition: background-color 1.5s ease;
}

body.light-theme * {
    color: black;
    transition: color 1.5s ease;
}

body {
    background-image: url("../img/Site-background-dark.webp");
    transition: color 1.5s ease;
}

main {
    min-height: calc(100vh - 10px - 160px);
    background-color: #603829;
    border-style: solid;
    border-width: 37px;
    border-image: url("../img/RoomBorder.webp") 48 repeat;
    box-shadow: 0 0 15px rgba(black,0.8) inset;
    padding: 8px 12px;
}

body a {
    color: #ffa62ae3;
    text-decoration: none;
}

body.light-theme a {
    color: black;
}

button.modal-trigger {
    color: #ffa62ae3;
    font-size: 14px;
}

body.light-theme button.modal-trigger {
    color: black;
}

body.light-theme main {
    background-color: #ca7454;
}

a:hover{
    text-decoration: underline;
}

body footer {
    background-color: black;
}

body.light-theme footer {
    background-color: rgb(209, 209, 209);
}

footer .container {
    text-align: center;
}

section {
    position: relative;
}

section::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #5c160c;
}

.logo_text {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.397);
}